#head{
    text-align: center;
    background-color: #bef086;
}
.sky01{
    background-color: #1c83c7;
    margin: 0%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 6px;
    color: #ffffff;
}
.sky02{
    background-color: #2f92c9;
    margin: 0%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 6px;
    color: #ffffff;
}
.sky03{
    background-color: #348fc0;
    margin: 0%;
    margin-left: 3%;
    margin-right: 3%;
    padding:6px ;
    color: #ffffff;

}
.sky04{
    background-color: #3a92c2;
    margin: 0%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 6px;
    color:#ffffff;
}
.sky05{
    background-color: #4195c2;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px;
    color:#ffffff;
}
.sky06{
    background-color: #4297c4;
    margin: 0%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 6px;
    color:#ffffff;
}
.sky07{
    background-color: #4397c4;
    margin: 0%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 6px;
    color:#ffffff;
}
.green08{
    background-color: #10d056;
    margin: 0%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 6px;
    color:#ffffff;
}
.red09{
    background-color: #f5b1cf;
    margin: 0%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 6px;
    color:#ffffff;
}
.red10{
    background-color: #f4a0c4;
    margin: 0%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 6px;
    color:#ffffff;
}
.red11{
    background-color: #f287b5;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px;
    color:#ffffff;
}
.red12{
    background-color: #f579af;
    margin: 0%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 6px;
    color:#ffffff;
}
.red13{
    background-color: #f25096;
    margin: 0%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 6px;
    color:#ffffff;
}

.red14{
    background-color: #ee3283;
    margin: 0%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 6px;
    color:#ffffff;
}
.red15{
    background-color: #f00e70;
    margin: 0%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 6px;
    color:#ffffff;
}
h1{
    text-align: center;
}
